<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cb.ffmpeg">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:screenOrientation="portrait"
            android:name=".MediaRecorderActivity"
            android:theme="@style/AppNoBarTheme" />

        <activity
            android:screenOrientation="portrait"
            android:name=".VideoPlayerActivity"
            android:theme="@style/AppNoBarTheme" />
        <activity
            android:screenOrientation="portrait"
            android:name=".SendSmallVideoActivity"
            android:theme="@style/AppNoBarTheme" />
        <activity
            android:screenOrientation="portrait"
            android:name=".videocut.VideoEditActivity"
            android:theme="@style/AppNoBarTheme" />
    </application>

</manifest>